.items_listeFirstHome a {
    font-family: "AvenirNext", Sans-serif;
    font-size: 14.5px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 1.5px;
    background-color: transparent;
    color: #ffff;
    text-transform: uppercase;
  }
  .items_listeFirstHome a:hover {
    background: linear-gradient(
      260deg,
      var(--e-global-color-b43d715) 0%,
      var(--e-global-color-d7c7dc1) 100%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  