.Genral_Technology{
    margin-top: 10vw;
    max-width: 45em;
}
@media (min-width: 45em) {
    .Genral_Technology{
        display: flex;
        flex-direction:row ;
        justify-content: center;
        margin-top: 5vw;
        max-width: unset;
    }
    
}