/* quik */
.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.slick-dots li {
  margin: 0 10px;
  background-color: transparent;
}
.slick-dots li button {
  font-size: 10px;
  background-color: #929aff30;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.slick-dots li.slick-active button {
  background-color: #929aff;
  opacity: .75;
  color: transparent;
}
.slick-dots li button:before {
  color: transparent;
  opacity: 0;
  content: none;
}
.slick-slide {
  height: 220px;
  padding: 1em;
}
