.ExperienceLivery{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
    padding: 2em;
    border-radius: 15px;
    max-width: 45em;
    margin: 1em;
    background-image: linear-gradient(90deg, #DB93FF 0%, #71E3FF 100%);
  }
  .ExperienceLivery_componentName {
    color: #ffff;
    font-family: "Helvetica", Sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2.06em;
    letter-spacing: 4px;
  }
  .ExperienceLivery > h2 {
    color: #ffff;
    font-family: "Raleway", Sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.13em;
    margin-top: -.5em;
  }
  
  .ExperienceLivery_Description {
    font-size: 15px;
    font-family: "Raleway", Sans-serif;
    font-weight: 400;
    line-height: 1.7em;
    color: #ffff;
    max-width: 536px;
    width: 100%;
    z-index: 999;
  }
  .ExperienceLivery_img {
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
  @media (min-width: 45em) {
    .ExperienceLivery{
      max-width: unset;
      margin-top: 4em;
      /* margin: 0 auto; */
    }

    .ExperienceLivery > h2 {
      color: #ffff;
      font-family: "Raleway", Sans-serif;
      font-size: 40px;
      font-weight: 700;
      line-height: 1.13em;
    }
    /* .ExperienceLivery_img {
      margin-top: -6em;
    } */
  }
  