.Fexible_Sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  max-width: 45em;
  /* padding: 3em; */
}
.Fexible_SecondTitle {
  color: #18162d80;
  font-family: "Helvetica", Sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2.06em;
  letter-spacing: 4px;
  text-align: center;
}
.Fexible_Title {
  color: #18162d;
  font-family: "Raleway", Sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.13em;
  text-align: center;
}
@media (min-width: 45em) {
  .Fexible_Sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: unset;
    
  }
  .Fexible_Title {
    color: #18162d;
    font-family: "Raleway", Sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.13em;
    text-align: center;
  }
  
}
