.Section_LiveLearning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 45em;
  margin-bottom: 2em;
}
.LiveLearning_Cotainer {
  display: flex;
  align-items: flex-end;
  width: 100vw;
  height: 102vh;
  background: linear-gradient(to right, #db93ff, #71e3ff);
}
.LiveLearning_Backgroundimg {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(/public/backgroundImages/Group\ 11.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: calc(5% + 0px);
  object-fit: cover;
}
.LiveLearning_PeoleImg {
  position: absolute;
  top: 55vh;
  right: 0vw;
  width: unset;
  height: 45vh;
  object-fit: cover;
}
.LiveLearning_lsImg {
  position: absolute;
  top: 70vh;
  height: 25vh;
  object-fit: cover;
}
.LiveLearning_LdSmoke {
  position: absolute;
  top: 60vh;
  width: 100%;
  height: 40%;
}
/* content */
.LiveLearning_Content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.7em;
  padding: 2em;
}
.LiveLearning_componentName {
  font-family: "Helvetica", Sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.2em;
  letter-spacing: 2.5px;
  background: linear-gradient(260deg, #79ddff 0%, #cf82ff 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.LiveLearning_Content > h2 {
  font-family: "Raleway", Sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 1.1em;
  max-width: 10em;
  background: linear-gradient(260deg, #79ddff 0%, #cf82ff 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.LiveLearning_Dscription {
  font-family: "Raleway", Sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2em;
  letter-spacing: 1.4px;
  background: linear-gradient(260deg, #79ddff 0%, #cf82ff 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2em;
}

@media (min-width: 45em) {
  .Section_LiveLearning {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: unset;
    margin-bottom: 4em;
  }
  .LiveLearning_Cotainer {
    display: flex;
    align-items: flex-end;
    width: 94vw;
    height: 99vh;
    border-radius: 15px;
    margin: 0 auto;
    background: linear-gradient(to right, #db93ff, #71e3ff);
  }
  .LiveLearning_Backgroundimg {
    position: relative;
    height: 96vh;
    background-image: url(/public/backgroundImages/Group\ 11.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: calc(5% + 0px);
    object-fit: cover;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .LiveLearning_PeoleImg {
    position: absolute;
    top: -4vh;
    right: 0vw;
    width: unset;
    height: 100vh;
    object-fit: cover;
    border-bottom-right-radius: 15px;
  }
  .LiveLearning_lsImg {
    position: absolute;
    top: 40%;
    left: 55%;
    height: unset;
    width: 30%;
    object-fit: cover;
  }
  .LiveLearning_LdSmoke {
    position: absolute;
    top: 57.7vh;
    width: 100%;
    height: 40%;
    border-bottom-right-radius: 15px;
  }
  /* content */
  .LiveLearning_Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.7em;
    margin-left:5%;
    height: 90vh;
  }
  .LiveLearning_componentName{
    width: 670px;
    align-items: start;
  }
  .LiveLearning_Content > h2 {
    z-index: 999;
    font-size: 70px; 
    width: 670px;

  }
  .LiveLearning_Dscription{
    font-size: 16px;
    line-height: 1.7em;
    width: 370px;
    margin-bottom: 1em;
  }
  .LiveLearning_DscriptionBtn{
    align-items: start;
    width: 670px;
  }
}
