.MoveAnimations_Container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 3em;
}
.MoveAnimations_Container h2 {
  color: #18162d;
  font-family: "Raleway", Sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2em;
  text-align: center;
}
.MoveAnimations_Slider {
  width: 70vw;
  height: 130px;
  margin: 0 auto;
}
.MoveAnimations_icons {
  width: 140px;
  height: 110px;
  padding: 1em;
}
@media (min-width: 45em) {
  .MoveAnimations_Container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 3em;
    margin: 2em 0 2em 0;
  }
  .MoveAnimations_Container h2 {
    color: #18162d;
    font-family: "Raleway", Sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2em;
    text-align: center;
  }
  .MoveAnimations_Slider {
    /* width: 1120px; */
    width: 60vw;
    height: 130px;
    margin: 0 auto;
  }
  .MoveAnimations_icons {
    width: 140px;
    height: 110px;
    padding: 1em;
  }
}
@media (min-width: 120em) {
  .MoveAnimations_Slider {
    width: 40vw;
    height: 130px;
    margin: 0 auto;
  }
  .MoveAnimations_icons {
    width: 150px;
    height: 120px;
    padding: 1em;
  }

}
