#MoveAnimationBar .slick-slide {
  height: 130px;
  padding-left: 1.8em;
  margin-left: 1em;
}
#MoveAnimationBar .slick-next:before {
  content: ".";
  background-image: url(../../../public/iconsMoveBar/chevron-right.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

}
#MoveAnimationBar .slick-prev:before {
  content: ".";
  background-image: url(../../../public/iconsMoveBar/chevron-left.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#MoveAnimationBar .slick-prev:before,
.slick-next:before {
  font-size: 150px;
  line-height: 0;
  opacity: 1;
  color: transparent;
  padding-bottom: .2em;

}
