.Quiklinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Quiklinks > p {
  color: #ffffff80;
  font-family: "Helvetica", Sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2.06em;
  letter-spacing: 4px;
  /* text-align: center; */
}
/* slide */
.Quiklinks_SlideContainarSlide {
  height: 400px;
  width: 100%;
}
/* styling slideimages containar */
/* styling  containar */
.Quiklinks_imgContainar > img {
  max-height: 370px;
  height: 100%;
  max-width: 270px;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
}
.Quiklinks_imgContainar:hover img {
  box-shadow: 1px 1px 10px 1px #63679f;
  transform: scale(1.04);
}
.Quiklinks_hover {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: absolute;
  top: 65%;
  /* width: 210px; */
  height: 20%;
  text-align: left;
  margin-left: 2em;
  background-color: transparent;
  transition: transform 0.3s ease-in-out;
}
.Quiklinks_imgContainar:hover .Quiklinks_hover {
  transform: scale(1.04);
}

.Quiklinks_Description {
  display: flex;
  align-items: flex-end;
  gap: 0em;
  line-height: 1.4;
  font-size: 19px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  width: 210px;
  color: #ffff;
}
.Quiklinks_icon {
  width: 20px;
  height: 20px;
  padding-left: 0.3em;
}
@media (min-width: 85em) {
  /* slide */
  .Quiklinks_SlideContainarSlide {
    height: 400px;
    width: 1209px;
  }
}
