.RaiseLive_Section {
  position: relative;
  max-width: 45em;
  padding: 75px 0 0 30px;
  margin: 1em;
  height: 562px;
  border-radius: 15px 15px 0 0;
  background: linear-gradient(to bottom, transparent 0%, white 100%),
    linear-gradient(to right, rgba(255, 141, 200, 0.3), rgba(255, 191, 75, 0.3));
}
.RaiseLive_Componentname {
  color: #18162d80;
  font-family: "Helvetica", Sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2.06em;
  letter-spacing: 4px;
}
.RaiseLive_heading {
  font-family: "Raleway", Sans-serif;
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.13em;
  letter-spacing: 3px;
  max-width: 20rem;
  background: -webkit-linear-gradient(0deg, #ff8dc8 0%, #ffbe4b 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.RaiseLive_Text > p {
  font-size: 15px;
  font-family: "Raleway", Sans-serif;
  font-weight: 400;
  line-height: 1.7em;
  color: #18162d;
  max-width: 639px;
  margin: 0.5em;
}
.RaiseLive_Img {
  position: absolute;
  top: -16vw;
  right: -6vw;
  width: 300px;
  height: 300px;
}
@media (min-width: 45em) {
  .RaiseLive_Section {
    position: relative;
    max-width: unset;
    width: 850px;
    padding: 75px 0 0 30px;
    margin: 2.5em;
    min-height: 562px;
  }
  .RaiseLive_heading {
    font-size: 40px;
  }
  .RaiseLive_Text > p {
    font-size: 15px;
    font-family: "Raleway", Sans-serif;
    font-weight: 400;
    line-height: 1.7em;
    color: #18162d;
    max-width: 536px;
    width: 100%;
    margin-bottom: 2em;
  }
  .RaiseLive_Img {
    position: absolute;
    top: -5em;
    right: -3vw;
    width: 400px;
    height: 400px;
  }
}
@media(min-width:100em) {
  .RaiseLive_Img {
    position: absolute;
    top: -5em;
    left: 31em;
    width: 400px;
    height: 400px;
  }
}
