/* .SlickContainar {
} */

.Slick_carouselSlide {
  height: 220px;
  width: 83vw;
  margin: 0 auto;
}
@media (max-width: 2400px) {
  .Slick_carouselSlide {
    width: 132em;
  }
}
@media (max-width: 1920px) {
  .Slick_carouselSlide {
    width: 120em;
  }
}
@media (max-width: 1600px) {
  .Slick_carouselSlide {
    width: 100em;
  }
}
@media (max-width: 1280px) {
  .Slick_carouselSlide {
    width: 79.1em;
  }
}
@media (max-width: 1024px) {
  .Slick_carouselSlide {
    width: 70em;
  }
}
@media (max-width: 900px) {
  .Slick_carouselSlide {
    width: 60em;
  }
}
@media (max-width: 720px) {
  .Slick_carouselSlide {
    width: 24em;
    margin-top: -5%;
  }
}
.SlickContainar > p {
  color: #ffffff80;
  font-family: "Helvetica", Sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2.06em;
  letter-spacing: 4px;
  text-align: center;
  margin: 2em;
}
/* links */

.Slick_links > img {
  width: 270px;
  height: 185px;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
  margin: 0;
}
.Slick_links:hover img {
  box-shadow: 1px 1px 30px 1px #63679f;
  transform: scale(1.04);
}
/* title styling */
.Slick_content > span {
  display: flex;
  align-items: center;
  gap: 0.3em;
  width: 210px;
}
.Slick_content h3 {
  line-height: 1.4;
  font-size: 19px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  text-align: start;
}
.Slick_content li:nth-child(1) h3 {
  background: -webkit-linear-gradient(0deg, #ff8dc8 0%, #ffbe4b 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Slick_content li:nth-child(2) h3 {
  background: linear-gradient(260deg, #79ddff 0%, #cf82ff 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Slick_content li:nth-child(3) h3 {
  background: -webkit-linear-gradient(0deg, #ff8dc8 0%, #ffbe4b 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Slick_content li:nth-child(4) h3 {
  background: linear-gradient(260deg, #79ddff 0%, #cf82ff 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Slick_content li:nth-child(5) h3 {
  background: -webkit-linear-gradient(0deg, #ff8dc8 0%, #ffbe4b 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Slick_content li:nth-child(6) h3 {
  background: linear-gradient(260deg, #79ddff 0%, #cf82ff 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Slick_content li:nth-child(7) h3 {
  background: -webkit-linear-gradient(0deg, #ff8dc8 0%, #ffbe4b 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Slick_icon {
  display: none;
  visibility: hidden;
  width: 20px;
  height: 15px;
  margin-top: 0.3em;
  transition: transform 0.3s ease-in-out;
}

.Slick_content:hover .Slick_icon {
  display: unset;
  visibility: unset;
  transform: scale(1.04);
}
.Slick_content > p {
  line-height: 1.4;
  font-size: 15px;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  width: 210px;
  color: #ffffff;
  text-align: start;
}
.Slick_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: 14vw;
  max-width: 210px;
  width: 100%;
  height: 70px;
  z-index: 9999;
  transition: transform 0.3s ease-in-out;
  margin-left: 1em;
}
.Slick_links:hover .Slick_content {
  transform: scale(1.04);
}
@media (min-width: 45em) {
  .Slick_content {
    position: absolute;
    top: 10vw;
  }
}
@media (min-width: 85em) {
  .Slick_content {
    position: absolute;
    top: 6.5vw;
  }
}
@media (min-width: 120em) {
  .Slick_content {
    position: absolute;
    top: 4vw;
  }
}
