.StartNow {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1em;
  padding: 2em;
  border-radius: 15px;
  max-width: 45em;
  margin: 1em;
  background-color: #f3f3fb;
}
.StartNow_componentName {
  color: #18162d80;
  font-family: "Helvetica", Sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2.06em;
  letter-spacing: 4px;
}
.StartNow > h2 {
  color: #18162d;
  font-family: "Raleway", Sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.13em;
  margin-top: -0.5em;
}

.StartNow_Description {
  font-size: 15px;
  font-family: "Raleway", Sans-serif;
  font-weight: 400;
  line-height: 1.7em;
  color: #18162d;
  max-width: 536px;
  width: 100%;
  z-index: 999;
}
.StartNow_img {
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  margin-top: -3em;
}
@media (min-width: 45em) {
  .StartNow {
    max-width: unset;
    margin-bottom: 4em;
  }
  .StartNow > h2 {
    color: #18162d;
    font-family: "Raleway", Sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.13em;
    margin-top: -1.2em;
  }
  .StartNow_Description {
    margin-top: -1.5em;
  }
  .StartNow_img {
    margin-top: -6em;
  }
}
