.VideoCloud {
  max-width: 45em;
}
.heading_title {
  color: #ffff;
  font-family: "Raleway", Sans-serif;
  font-size: 35px;
  font-weight: 800;
  line-height: 0.9em;
  letter-spacing: -0.24px;
  margin-bottom: 0.5em;
  margin-top: 1em;
  text-align: center;
}
.VideoCloud > p {
  color: #ffff;
  font-family: "Raleway", Sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63em;
  text-align: center;
}
@media (min-width: 45em) {
  .VideoCloud {
    margin: 0 auto;
    max-width: unset;
  }
  .heading_title {
    font-size: 60px;
  }
  .VideoCloud > p {
    width: 100%;
  }
}
