.navhome_btn {
    display: grid;
    place-items: center;
    font-size: 12px;
    font-family: "Raleway", Sans-serif;
    text-decoration: none;
    font-weight: bold;
    width: 170px;
    height: 48.39px;
    line-height: 1.2em;
    letter-spacing: 3px;
    color: #ffffff;
    border: 2.5px solid #ffffff;
    margin-right: 1em;
    border-radius: 0.5em;
    text-transform: uppercase;
    background-color: transparent;
  }
  .navhome_btn:hover {
    background-color: rgba(241, 245, 241, 0.4);
   
  }
  .Header_logo {
    max-width: 100px;
    max-height: 81px;
  }