.LiveVideoBtn {
  text-decoration: none;
  color: #18162d;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 2.18px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  z-index: 9999;
}
.LiveVideoBtn_Icon_arrowRight {
  width: 20px;
  height: 15px;
  padding-top: 0.2em;
}
.LiveVideoBtn:hover .LiveVideoBtn_Icon_arrowRight {
  transform: translateX(8px);
  transition: all 0.3s ease-in-out;
}
/* Pick Date Btn */
.PickDateBtn {
  text-decoration: none;
  color: #ffff;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 2.18px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  z-index: 9999;
}
.PickDateBtn:hover .LiveVideoBtn_Icon_arrowRight {
  transform: translateX(8px);
  transition: all 0.3s ease-in-out;
}
