.Pricing_Slider {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.Pricing_Slider section {
  max-width: unset;
  width: 100%;
  background-color: transparent;
}
.PricingSlider_Discription {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  margin: 0 auto;
  text-align: center;
}
.PricingSlider_Number {
  font-family: "helvetica", sans-serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  text-align: center;
  margin: 0 auto;
}
.PricingSlider_Range {
  appearance: none;
  height: 0.3em;
  background: #eeeeef;
  outline: none;
  border-radius: 2em;
  margin: 0;
  margin-top: 1em;
  width: 336px;
  outline: none;
}
.PricingSlider_Range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-image: url(/iconsMoveBar/driehoekSlider@2x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
